# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.sqlite3
db.sqlite3
.env

# Django
backend/media/
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
*.log
.idea/
.vscode/

anil-deploy-credentials.txt
**/anil-deploy-credentials.txt
